<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMDOS.AppData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CMDOS.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CMDOS.AppData>
            <setting name="FirstBoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Accounts" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSystem" serializeAs="String">
                <value />
            </setting>
        </CMDOS.AppData>
        <CMDOS.Data>
            <setting name="FirstBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Accounts" serializeAs="String">
                <value />
            </setting>
        </CMDOS.Data>
    </userSettings>
</configuration>